

<html ng-app="myApp">
<head>
 		<!--<link rel="stylesheet" href="http://www.tagtest.cjddealer.com.au/white-label/css/main.css" />-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="lib/angular/angular.min.js" type="text/javascript"></script>
	<script src="js/image-slider-w-image-pop-up.js" type="text/javascript"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

	<!--<script type="text/javascript" src="js/creating-json.js"></script>-->
	<script src="js/new-form-section.js" type="text/javascript"></script>
	<script src="js/create-preview.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="slider-style.css">
		<link rel="stylesheet" type="text/css" href="style.css">

		
</head>


<form ng-controller="MyController" class="dealsform" name="dealsTile">
	<h1 class="temp-h1">Create Image Slider</h1>
	<div class="fields">
		
		<!--News Heading-->
	
		<div ng-repeat="info in images" class="slide-show-inputs">
			<div class="slide-show">
					<label for="image-src">img src</label>
					<input class="image-source-value" name="image-src" ng-model="imageSrc">
					<label for="alt-txt">alt text</label>
					<input class="slide-show-image alt-text-value" name="alt-txt" ng-model="altTextInput"><!--
					--><svg  ng-click="addImage();getArray()"  class="plus-image" viewBox="0 0 500 500" > 
						<path d="M456.9,206.9H293.1V43.1C293.1,19.3,273.8,0,250,0c-23.8,0-43.1,19.3-43.1,43.1v163.8H43.1C19.3,206.9,0,226.2,0,250
						c0,23.8,19.3,43.1,43.1,43.1h163.8v163.8c0,23.8,19.3,43.1,43.1,43.1s43.1-19.3,43.1-43.1V293.1h163.8c23.8,0,43.1-19.3,43.1-43.1
						C500,226.2,480.7,206.9,456.9,206.9z"/>
					</svg>
					<label class="caption-label" for="caption">Caption</label>
					<input class="checkbox caption-check" type="checkbox"  name="caption">
					<input class="caption-text" name="caption-text" ng-model="captionText">

			</div>

			<div class=""></div>
		</div>

		<!--Image Input-->
		
		
		
		<div class="clearboth"></div>
		
		
		

	
		
	
		<input type="button" addform class="button" value="GET CODE" ng-click="createCode()"  >
	</div><!--
	--><div  class="notes" id="notesId">
		<section class="full-slider-section ">
 
			     <div class="ancap-flexbox">
			         <div class="small-1 column column-no-padding nav-arrow nav-left ">
			           <!--[if IE]><div class="ie-margin"><![endif]-->
			           <svg viewBox="0 0 300.3 580.4" >
			             <polygon id="XMLID_4_" class="st0" points="282.7,1.2 282.8,77.4 77.6,288.4 283.5,497.7 283.6,579.2 0.5,291.3 "/>
			           </svg>
			           <!--[if IE]><div><![endif]-->
			         </div>
			      
			         <div class="container-fixed small-10 column">
			            
			           <div class="container-slide"><!--
			             --><section ng-repeat="items in sliderArray" class="individual-slide" >
			               <img alt="{{items.altTextValue}}" data-remodal-target="image-slider-remodal"  src="{{items.sourceValue}}"> 
			               <div class="caption"><p>{{items.captionTextValue}}</p></div>   
			             </section>
			           </div>
			           
			         </div>
			 
			 
			         <div class="small-1 column column-no-padding nav-arrow nav-right">
			         <!--[if IE]><div class="ie-margin"><![endif]-->
			           <svg viewBox="0 0 300.3 580.4">
			             <polygon id="XMLID_4_" class="st0" points="18.4,10.7 18.3,87 223.5,297.9 17.6,507.2 17.5,588.7 300.6,300.8 "/>
			           </svg>
			           <!--[if IE]></div><![endif]-->
			         </div> 
			         
			     </div>
			     <div class="clearboth"></div>
			     <div class="preview-slider">
			      
			 
			         <div class="small-10 small-offset-1 column image-preview-fixed">
			           
			           <div class="clearboth"></div>
			         </div>
			  
			     </div>
			     
   </section>

   <div class="remodal image-slider-remodal" data-remodal-id="image-slider-remodal" style="min-width:900px;">
   </div>
 
 </div>
		
	</div>
	<label for="codeoutput">Image Slider HTML:</label>
	<textarea name="codeoutput" id="codeOutput">

			
	</textarea>
</form>
<div id="test-div"></div>
</html>




