<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81194684-1', 'auto');
  ga('send', 'pageview');

</script>

<html ng-app="myApp">
<head>
<title>Free Image Slider Creator</title>
 		<!--<link rel="stylesheet" href="http://www.tagtest.cjddealer.com.au/white-label/css/main.css" />-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="lib/angular/angular.min.js" type="text/javascript"></script>
	<script src="js/image-slider-w-image-pop-up.js" type="text/javascript"></script>
	<script src="js/remodal-script.js" type="text/javascript"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>


	<script src="js/create-preview.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="slider-style.css">
		<link rel="stylesheet" type="text/css" href="style.css">

		
</head>

	<header>
		<div>
		<h1 class="temp-h1">Create Image Slider</h1>

		<p>If no caption/alt text is required leave blank</p>
		<p>If local image links are used code will still generate but preview will not work.</p>
		<p>Ensure all images are the same dimensions for image slider to display correctly.</p>
		</div>

	</header>
<form ng-controller="MyController" class="dealsform" name="dealsTile">

	<div class="fields">
		
		<!--News Heading-->
	
		<div ng-repeat="info in images" class="slide-show-inputs">
			<div class="slide-show">
					<label for="image-src">img src</label>
					<input type="text"  class="image-source-value"  name="image-src" ng-model="info.imageSrc" ng-init="">
					<label class="caption-label" for="caption">caption</label>
					<input class="caption-text" name="caption-text" ng-model="info.captionText">
					<label  for="alt-txt">alt text</label>
					<input class="slide-show-image alt-text-value" name="alt-txt" ng-model="info.altTextInput" type="text"><!--
					--><svg  ng-click="addImage();getArray()"  class="plus-image" viewBox="0 0 500 500" > 
						<path d="M456.9,206.9H293.1V43.1C293.1,19.3,273.8,0,250,0c-23.8,0-43.1,19.3-43.1,43.1v163.8H43.1C19.3,206.9,0,226.2,0,250
						c0,23.8,19.3,43.1,43.1,43.1h163.8v163.8c0,23.8,19.3,43.1,43.1,43.1s43.1-19.3,43.1-43.1V293.1h163.8c23.8,0,43.1-19.3,43.1-43.1
						C500,226.2,480.7,206.9,456.9,206.9z"/>
					</svg>
				

			</div>

			<div class=""></div>
		</div>

		<!--Image Input-->
		
		
		
		<figure class="clearboth"></figure>
		
		
		

	
		
	
		<input type="button" addform class="button" value="GENERATE CODE" ng-click="createCode()"  >
		<a class="remodal-trigger" href="#css-container">Get CSS</a>
		<a class="remodal-trigger" href="#script-container">Get jQuery</a>
	</div><!--
	--><div  class="notes">
		<h3>Preview</h3>
		<div id="notesId">
			<section class="full-slider-section ">
		 
					     <div class="ancap-flexbox">
					         <div class="small-1 column column-no-padding nav-arrow nav-left ">
					           <!--[if IE]><div class="ie-margin"><![endif]-->
					           <svg viewBox="0 0 300.3 580.4" >
					             <polygon id="XMLID_4_" class="st0" points="282.7,1.2 282.8,77.4 77.6,288.4 283.5,497.7 283.6,579.2 0.5,291.3 "/>
					           </svg>
					           <!--[if IE]><div><![endif]-->
					         </div>
					      
					         <div class="container-fixed small-10 column">
					            
					           <div class="container-slide"><!--
					             --><section ng-repeat="items in sliderArray" class="individual-slide" >
					               <img alt="{{items.altTextValue}}" data-remodal-target="image-slider-remodal"  src="{{items.sourceValue}}"> 
					               <div class="caption"><p>{{items.captionTextValue}}</p></div>   
					             </section>
					           </div>
					           
					         </div>
					 
					 
					         <div class="small-1 column column-no-padding nav-arrow nav-right">
					         <!--[if IE]><div class="ie-margin"><![endif]-->
					           <svg viewBox="0 0 300.3 580.4">
					             <polygon id="XMLID_4_" class="st0" points="18.4,10.7 18.3,87 223.5,297.9 17.6,507.2 17.5,588.7 300.6,300.8 "/>
					           </svg>
					           <!--[if IE]></div><![endif]-->
					         </div> 
					         
					     </div>
					     <div class="clearboth"></div>
					     <div class="preview-slider">
					      
					 
					         <div class="small-10 small-offset-1 column image-preview-fixed">
					           
					           <div class="clearboth"></div>
					         </div>
					  
					     </div>
					     
		   </section>
		</div>

   <div class="remodal image-slider-remodal" data-remodal-id="image-slider-remodal" style="min-width:900px;">
   </div>

   <div class="clearboth"></div>
   <br>

 
 </div>

	</div>
	<label for="codeoutput">Image Slider HTML:</label>
	<textarea name="codeoutput" id="codeOutput">

			
	</textarea>
</form>
<div id="test-div"></div>


<div id="css-container" class="remodal">
<div>
<svg class="cancel-button" viewBox="0 750 500 500">
		<g>
			<path  d="M250,750C111.9,750,0,862,0,1000c0,138.1,111.9,250,250,250c138,0,250-111.9,250-250
				C499.899,862,388,750,250,750z M301.4,1000l91.1,91.101l-51.4,51.399l-91.1-91l-91.1,91.101l-51.4-51.4l91.1-91.1L107.5,909
				l51.4-51.4l91.1,90.9l91.1-91l51.4,51.4L301.4,1000z"/>
		</g>
	</svg>
<label>Offsite Link Tag</label>
<textarea class="script-tag">
<link rel="stylesheet" type="text/css" href="http://imageslider.nfshost.com/slider-links/imageSliderStyle.css">		
</textarea>

<label>CSS Styling</label>
<textarea class="plain-css">
.small-1 {width: 8.33333%}
.small-2 {width: 16.66667%}
.small-3 {width: 25%}
.small-4 {width: 33.33333%}
.small-5 {width: 41.66667%}
.small-6 {width: 50%}
.small-7 {width: 58.33333%}
.small-8 {width: 66.66667%}
.small-9 {width: 75%}
.small-10 {width: 83.33333%}
.small-11 {width: 91.66667%}
.small-12 {width: 100%}
.small-offset-0 {margin-left: 0% !important}
.small-offset-1 {margin-left: 8.33333% !important}
.small-offset-2 {margin-left: 16.66667% !important}
.small-offset-3 {margin-left: 25% !important}
.small-offset-4 {margin-left: 33.33333% !important}
.small-offset-5 {margin-left: 41.66667% !important}
.small-offset-6 {margin-left: 50% !important}
.small-offset-7 {margin-left: 58.33333% !important}
.small-offset-8 {margin-left: 66.66667% !important}
.small-offset-9 {margin-left: 75% !important}
.small-offset-10 {margin-left: 83.33333% !important}
.small-offset-11 {margin-left: 91.66667% !important}
.column {position: relative;float: left}
.full-slider-section, .full-slider-section div, .full-slider-section section {box-sizing: border-box;}
/*Slider Style*/
.slider-header {font-size:1.5em;text-align: center;}
.container-fixed {white-space:nowrap;position:relative;overflow:hidden;padding:0;border:4px solid #5e5e5e;}
.container-slide {position:absolute;top:0;left:0;}
.individual-slide {margin: 0 auto;display:inline-block;position: relative;}
.individual-slide h2 {text-align: center;    border-top: 1px solid #7B7B7B;border-bottom: 1px solid #7B7B7B;}
.individual-slide img {width:100%;}
.individual-slide div img:nth-of-type(2) {width: 65%; margin: 0 auto; display: block;}
.individual-slide nav div {padding:2%;}
.caption {position:absolute;color:#ffffff;padding:7px;background-color: rgba(71, 71, 71, 0.7);bottom:0;left:0;width:100%;    padding: 10px 10px 15px;}
.caption p {margin:0;white-space: initial;}
.full-slider-section svg {width: 50px;height:50px;margin: 0 auto 0;display: block;fill:#666666;}
.ancap-info { font-size: 1.2em; padding: 3%;font-weight: 800;}
.ancap-info span {display:block;font-weight: 500}
.nav-arrow {z-index:2; display: -ms-flexbox;display: -webkit-flex; display: flex;padding:5px; -webkit-align-items: center;-ms-flex-align: center; align-items: center;}
.nav-right svg:hover {cursor:pointer;}
.nav-left svg {opacity:.4;}
.ancap-flexbox { display: -ms-flexbox;display: -webkit-flex;display: flex;}
.clearboth {clear:both;}
.container-slide-preview {position:absolute;top:0;left:0;}
.individual-slide-preview img {width:100%;opacity:.5;display:block;}
.selected-img img {opacity:1;}
.preview-slider {display: -ms-flexbox;display: -webkit-flex;display: flex;}
.individual-slide-preview {display:inline-block;}
.image-preview-fixed {padding:0;border:4px solid #5e5e5e;border-top:none;white-space:nowrap;position:relative;overflow:hidden}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, 
.embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ie-margin svg {margin:0 auto}
.trans1 {position:absolute;top:0;left:0;}
.trans2 {position:absolute;top:0;left:50%;}
.trans-box {cursor: pointer;}
.image-slider-remodal img {width:100%;}

.remodal {width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(51, 51, 51, 0.7);display:none;z-index: 1000;}
.remodal>div {background: #ffffff;width:75%;margin:150px auto;padding:20px;position:relative;}
.cancel-button {position:absolute;top:5px;right:5px;width:3%;cursor:pointer;fill: #999;}
.cancel-button:hover {fill:#800000;}


  
@media screen and (max-width:642px) {
    
.column-no-padding {padding-left: 0;padding-right:0;}
.full-slider-section svg {width:100%;}
.caption {display:none;}
/*.preview-slider {float:left;}*/
.nav-arrow {background-color: rgba(255,255,255,0.75);}
.ie-margin svg {margin:-100 auto 0;}

  }
</textarea>

</div>

</div>




<div id="script-container" class="remodal">
<div>
<svg class="cancel-button" viewBox="0 750 500 500">
		<g>
			<path  d="M250,750C111.9,750,0,862,0,1000c0,138.1,111.9,250,250,250c138,0,250-111.9,250-250
				C499.899,862,388,750,250,750z M301.4,1000l91.1,91.101l-51.4,51.399l-91.1-91l-91.1,91.101l-51.4-51.4l91.1-91.1L107.5,909
				l51.4-51.4l91.1,90.9l91.1-91l51.4,51.4L301.4,1000z"/>
		</g>
	</svg>
<label>Offsite Link Tag</label>
<textarea class="script-tag">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="http://imageslider.nfshost.com/slider-links/image-slider-jquery.js" type="text/javascript"></script>		
</textarea>
<label>jQuery</label>
<textarea class="plain-css">
  window.addEventListener("load", scriptToLoad, false);
    
    function scriptToLoad(){

      

            //Create preview tiles from main image

            $(".full-slider-section").each(function() {              
              var previewContent = $(this).find('.container-slide').clone().removeClass("container-slide").addClass("container-slide-preview");
              $(this).find('.image-preview-fixed').append(previewContent);
            });
               //Remove caption from preview
              $('.container-slide-preview').find('.caption').remove('.caption');
              $(".image-preview-fixed div section").removeClass("individual-slide").addClass("individual-slide-preview");
               $(".image-preview-fixed div section img").removeAttr("data-remodal-target");
            
            



          
              

                 function  previewSizing() {
              //Individual Slide Width
                    $(".full-slider-section").each(function() {  
                          var numberDivs = $(this).find(".container-slide-preview section").length;
                  
                          if (numberDivs <= 6) {
                            var previewWidth = $(this).find(".image-preview-fixed")[0].getBoundingClientRect().width;

                            $(this).find(".individual-slide-preview").css("width", previewWidth / numberDivs + "px");
                           }
                      
                          if (numberDivs > 6) {
                              var previewWidth = $(this).find(".image-preview-fixed")[0].getBoundingClientRect().width;
                              var previewWidth6 = previewWidth / 6;
                               $(this).find(".individual-slide-preview").css("width", previewWidth6 + "px");
                              }
                          //Preview Height
                          var previewSlideHeight = $(this).find('.container-slide-preview').height();
                          $(this).find(".image-preview-fixed").css("height", previewSlideHeight + "px");  
                          });

                        }
                   
                    
                        function slideShowSizing() {
                          $(".full-slider-section").each(function() {  
                               
                              var sliderWidth = $(this).find(".container-fixed")[0].getBoundingClientRect().width;                           
                              $(this).find(".individual-slide").css("width", sliderWidth);
                               var sliderHeight = $(this).find(".container-slide")[0].getBoundingClientRect().height;
                              $(this).find(".container-fixed").css("height", sliderHeight);
                               $(this).find('.trans-box').css("height", sliderHeight);
                               var sliderWidth = $(this).find(".container-fixed")[0].getBoundingClientRect().width;                           
                              $(this).find(".individual-slide").css("width", sliderWidth);
                             
                             
                            
                         });
                       }
              
                previewSizing();
                slideShowSizing();

                
  


            $(window).on('resize', function(){


              $(".full-slider-section").each(function() { 

                var oneSlide = $(this).parent().parent().find(".individual-slide")[0].getBoundingClientRect().width;
                var leftValue = $(this).parent().parent().find(".container-slide").css("left");
                var leftValueParse = parseFloat(leftValue, 10);
                var indivPrevWidth = $(this).parent().parent().find(".individual-slide-preview")[0].getBoundingClientRect().width;
                var prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                var prevLeftValueParse = parseFloat(prevLeftValue); 

                previewSizing();
                slideShowSizing();
                
                //Reposition main images on resize
                var newOneSlide = $(this).find(".individual-slide")[0].getBoundingClientRect().width;
               
          

                var oneSlideDiff = Math.abs(oneSlide/newOneSlide)
                var newLeftValue = Math.abs(leftValueParse/oneSlideDiff);
                $(this).find(".container-slide").css("left", - newLeftValue);

                
                //Reposition preview slides
                //Get width of individual slide
                var newPreviewTile = $(this).find(".individual-slide-preview")[0].getBoundingClientRect().width;
                var prevSlideDiff = Math.abs(indivPrevWidth/newPreviewTile);
               
                //Get new left value
                var newPrevLeftValue = Math.abs(prevLeftValueParse/prevSlideDiff);
              
                //set new left value
              
                $(this).find(".container-slide-preview").css("left", - newPrevLeftValue);
       
                
                //Recalculate values
                sliderWidth = $(this).find(".container-fixed")[0].getBoundingClientRect().width;  
                oneSlide = $(this).find(".individual-slide")[0].getBoundingClientRect().width;             
                rightStop = $(this).find(".container-slide")[0].getBoundingClientRect().width; 
                leftValue = $(this).find(".container-slide").css("left");
                leftValueParse = parseFloat(leftValue, 10);
               

                indivPrevWidth = $(this).find(".individual-slide-preview")[0].getBoundingClientRect().width;
                prevLeftValue = $(this).find(".container-slide-preview").css("left");
                prevLeftValueParse = parseFloat(prevLeftValue);
                previewSlideWidth = $(this).find('.individual-slide-preview')[0].getBoundingClientRect().width;
              
              });

            });
            


            //Left arrow nav
        
              $(".nav-left").click(function() {
                var sliderWidth = $(this).parent().parent().find(".container-fixed")[0].getBoundingClientRect().width;
                var numberDivs = $(this).parent().parent().find(".container-slide-preview section").length;
                 var oneSlide = $(this).parent().parent().find(".individual-slide")[0].getBoundingClientRect().width;
                var rightStop = $(this).parent().parent().find(".container-slide")[0].getBoundingClientRect().width;
                var leftValue = $(this).parent().parent().find(".container-slide").css("left");
                var leftValueParse = parseFloat(leftValue, 10);
                var indivPrevWidth = $(this).parent().parent().find(".individual-slide-preview")[0].getBoundingClientRect().width;
                var prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                var prevLeftValueParse = parseFloat(prevLeftValue);   
                var previewSlideWidth = $(this).parent().parent().find('.individual-slide-preview')[0].getBoundingClientRect().width;
                  
                if ($(":animated").length) {
                  return false;
                } 

                else {
                  

                   if ($(this).parent().parent().find(".container-slide-preview section:nth-of-type(n+2)").hasClass("selected-img"))  
                    {
                      
                       $(this).parent().parent().find(".selected-img").removeClass("selected-img").prev().addClass("selected-img");
                       $(this).parent().parent().find(".container-slide").animate({left : '+=' + sliderWidth}, 500);

                        leftValue = $(this).parent().parent().find(".container-slide").css("left");
                        leftValueParse = parseFloat(leftValue, 10) + oneSlide;
                        indivPrevWidth = $(this).parent().parent().find(".individual-slide-preview")[0].getBoundingClientRect().width;
                        prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                        prevLeftValueParse = parseFloat(prevLeftValue) + indivPrevWidth;
                        
                        if ($(this).parent().parent().find(".container-slide-preview section:nth-of-type(n+2)").hasClass("selected-img"))
                          {
                            $(this).parent().parent().find(".nav-left svg").css("opacity", "1");
                            $(this).parent().parent().find(".nav-right svg").css("opacity", "1");
                            $(this).parent().parent().find(".nav-arrow svg").css("cursor", "pointer");  
                          }

                          else  {
                            $(this).parent().parent().find(".nav-left svg").css("opacity", "0.2");
                            $(this).parent().parent().find(".nav-left svg").css("cursor", "default");
                          }
                     }
 
                }

                if (numberDivs > 6) {
                    if ($(this).parent().parent().find(".container-slide-preview section:nth-of-type(n+4):nth-of-type(-n+" + (numberDivs - 3) + ")").hasClass("selected-img")) {
                        

                              $(this).parent().parent().find(".container-slide-preview").animate({left : "+=" + previewSlideWidth}, 500);
                             if ($(":animated").length) {
                              return false;
                              } 

                              else {
                                          prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                                           prevLeftValueParse = parseFloat(prevLeftValue) + indivPrevWidth;
                                         }
                          }

                   if ($(this).parent().parent().find(".container-slide-preview section:nth-of-type(n+3):nth-of-type(-n+4)").hasClass("selected-img") && parseInt($(".container-slide-preview").css('left')) < 0) {
                           $(this).parent().parent().find(".container-slide-preview").animate({left : "+=" + previewSlideWidth}, 500);
                              
                             if ($(":animated").length) {
                              return false;
                              } 

                              else {
                                          prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                                           prevLeftValueParse = parseFloat(prevLeftValue) + indivPrevWidth;
                                         }
                   }       

                 
                }

                prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
               prevLeftValueParse = parseFloat(prevLeftValue); 

            });
          
            
            $(".nav-right").each(function() {

              $(this).click(function() {
                var sliderWidth = $(this).parent().parent().find(".container-fixed")[0].getBoundingClientRect().width;
                var numberDivs = $(this).parent().parent().find(".container-slide-preview section").length;
                var oneSlide = $(this).parent().parent().find(".individual-slide")[0].getBoundingClientRect().width;
                var rightStop = $(this).parent().parent().find(".container-slide")[0].getBoundingClientRect().width;
                var leftValue = $(this).parent().parent().find(".container-slide").css("left");
                var leftValueParse = parseFloat(leftValue, 10);
                var indivPrevWidth = $(this).parent().parent().find(".individual-slide-preview")[0].getBoundingClientRect().width;
                var prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                var prevLeftValueParse = parseFloat(prevLeftValue);   
                var previewSlideWidth = $(this).parent().parent().find('.individual-slide-preview')[0].getBoundingClientRect().width;

                  if ($(":animated").length) 
                    {
                      return false;
                    } 

                  else {

                    //moving preview highlight + controlling arrow svgs
                     if ($(this).parent().parent().find(".container-slide-preview section:nth-of-type(-n+" + (numberDivs - 1) + ")").hasClass("selected-img"))  
                      {
                        
                        $(this).parent().parent().find(".selected-img").removeClass("selected-img").next().addClass("selected-img");
                        $(this).parent().parent().find(".container-slide").filter(':not(:animated)').animate({left : '-=' + sliderWidth}, 500);
                          
                          
                        
                          leftValue = $(this).parent().parent().find(".container-slide").css("left");
                          leftValueParse = parseFloat(leftValue, 10) - oneSlide;
                          prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                          prevLeftValueParse = parseFloat(prevLeftValue) - indivPrevWidth;
                          var fullPreviewSlideWidth = $(this).parent().parent().find('.container-slide-preview')[0].getBoundingClientRect().width;
                          var parseRightOffset = - parseInt(fullPreviewSlideWidth - (6*indivPrevWidth));
                          var leftPlacement = parseInt($(this).parent().parent().find(".container-slide-preview").css('left'));

                        if ($(this).parent().parent().find(".container-slide-preview section:nth-of-type(-n+" + (numberDivs - 1) + ")").hasClass("selected-img"))  
                        {  
                              $(this).parent().parent().find(".nav-left svg").css("opacity", "1");
                              $(this).parent().parent().find(".nav-left svg").css("opacity", "1");
                              $(this).parent().parent().find(".nav-arrow svg").css("cursor", "pointer");
                        }

                        else   
                        {
                                $(this).parent().parent().find(".nav-right svg").css("opacity", "0.4");
                                $(this).parent().parent().find(".nav-right svg").css("cursor", "default");
                         }
                           
                     }

                 

                  } 

                   if (numberDivs > 6) {
                         if ($(this).parent().parent().find(".container-slide-preview section:nth-of-type(n+4):nth-of-type(-n+" + (numberDivs - 3) + ")").hasClass("selected-img")) 
                         {     
                              $(this).parent().parent().find(".container-slide-preview").animate({left : "-=" + previewSlideWidth}, 500);
                              
                               if ($(":animated").length) {
                              return false;
                            } 

                            else {
                                        prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                                         prevLeftValueParse = parseFloat(prevLeftValue) + indivPrevWidth;
                                       }
                         }

                          if ($(this).parent().parent().find(".container-slide-preview section:nth-of-type(n+" + (numberDivs - 2) + ")").hasClass("selected-img") && leftPlacement > parseRightOffset) {
                              
                              $(this).parent().parent().find(".container-slide-preview").animate({left : "-=" + previewSlideWidth}, 500);
                              
                               if ($(":animated").length) {
                              return false;
                            } 

                            else {
                                        prevLeftValue = $(this).parent().parent().find(".container-slide-preview").css("left");
                                         prevLeftValueParse = parseFloat(prevLeftValue) + indivPrevWidth;
                                       }
                          }

                     
                   }
                  prevLeftValue = $(".container-slide-preview").css("left");
                  prevLeftValueParse = parseFloat(prevLeftValue);  
                });
             });
          
          /*function positionRemodal() {

            newRemodalOneSlide = $('.image-slider-remodal').find('.container-fixed')[0].getBoundingClientRect().width;
          }

      

        $('.individual-slide img').click(function() {

            $(this).clone().addClass("preview-image").appendTo('.image-slider-remodal');
            
            $(this).parent().parent().parent().parent().parent().parent().find('.remodal').toggle();
            
          });
          $(".cancel-button, .remodal").click(function(e){
            $(".remodal").css("display", "none");
            $(this).parent().find(".preview-image").remove();
          });

          $(".remodal div").click(function(e){
            e.stopPropagation();

            var remodalLeftValue = $(this).parent().parent().css("left");
            var remodalLeftValueParse = parseFloat(remodalLeftValue); 
            var remodalOneSlide = $(this).parent().parent().find('.individual-slide')[0].getBoundingClientRect().width;
            $('.image-slider-remodal .full-slider-section').remove();
            $(this).parent().parent().parent().parent().clone(true, true).appendTo('.image-slider-remodal');
            
            setTimeout(previewSizing, 100);
            setTimeout(slideShowSizing, 100);
            
            var newRemodalOneSlide = $('.image-slider-remodal').find('.individual-slide')[0].getBoundingClientRect().width;
            var remodalOneSlideDiff = Math.abs(remodalOneSlide/newRemodalOneSlide);
            var newRemodalLeftValue = Math.abs(remodalLeftValueParse/remodalOneSlideDiff);

            function remodalNewSize() {newRemodalOneSlide = $('.image-slider-remodal').find('.individual-slide')[0].getBoundingClientRect().width;}
            function remodalDiff() {remodalOneSlideDiff = Math.abs(remodalOneSlide/newRemodalOneSlide);}
            function remodalLeft() {newRemodalLeftValue = Math.abs(remodalLeftValueParse/remodalOneSlideDiff);}
            setTimeout(remodalNewSize, 100);
            setTimeout(remodalDiff, 100);
            setTimeout(remodalLeft, 100);
           

            function changeLeft() {
                $('.image-slider-remodal').find(".container-slide").css("left", - newRemodalLeftValue);
            }
            
            setTimeout(changeLeft, 100);
            
           
            
          
        });

       
*/
      


  };  
</textarea>

</div>

</div>

<footer>
	<div>
		<section class="footer-left">
			<p>Alexander J Dance</p>
		</section><!--
		--><nav class="footer-right">
			<p><a href="privacy-policy.html">Privacy Policy</a></p>
			<p>All placeholder images from <a href="http://gratisography.com">Gratisography</a></p>
		</nav>

	</div>
	<figure class="clearboth"></figure>
	
</footer>
</html>



